CONFIG_MODULE_SIG=y
CONFIG_MODULE_SIG_FORCE=y
# This format for the CONFIG_MODULE_SIG_KEY variable of specifying the
# PKCS#11 key followed by a certificate file is implemented using
# patches and is not supported in the upstream kernel (see [PATCH]
# Extract PKCS#11 url from config parameter)
CONFIG_MODULE_SIG_KEY="%MODULE_SIG_KEY% certs/modsign_key.crt"
CONFIG_MODULE_SIG_HASH="sha256"
CONFIG_MODULE_SIG_SHA256=y
CONFIG_CRYPTO_SHA256=y
CONFIG_MODULE_SIG_ALL=y
